<app-nav></app-nav>

<div class="content" style="margin-top: 15px;">
    <div class="dashboard-header">Dashboard Overview</div>
    <div class="card-container">
        <div class="card" style="background-color: white;"><i class="fa fa-users"></i>Total Employees<br>8</div>
        <div class="card" style="background-color: white;"><i class="fa fa-user-plus"></i>New This Month<br>0</div>
        <div class="card" style="background-color: white;"><i class="fa fa-user-times"></i>On Leave<br>2</div>
        <div class="card" style="background-color: white;"><i class="fa fa-building"></i>Departments<br>5</div>
    </div>
    <div class="grid-card" style="background-color: white;">
        <h3>New Employees </h3>
        <kendo-grid [style.height.px]="'350'"></kendo-grid>
    </div>
</div>