<div class="forgot-password-container">
    <div class="login-box">
    <h2>Forgot Password</h2>
    <p>Enter your email address and we'll send you a link to reset your password.</p>

    <kendo-floatinglabel text='Email Address'>
        <kendo-textbox [(ngModel)]="email" placeholder="Enter your work email">
            <ng-template kendoTextBoxSuffixTemplate>
                <span class="k-icon k-i-email"></span>
            </ng-template>
        </kendo-textbox>
    </kendo-floatinglabel>

    <button kendoButton [primary]="true" class="reset-button" (click)="sendResetLink()">Send Reset Link</button>

    <p class="remember-password">Remember your password? <a class="back-to-login" [routerLink]="['/login']" routerLinkActive="router-link-active">Back to Login</a></p>
    <p class="help-text">If you're still having trouble, please contact your system administrator.</p></div>
</div>